.startingPage {
  background-image: url('/src/assets/pixel-cityscape-8-bit-pixel-art-game-landscape-vector\ 1.svg');
  background-repeat: repeat-x;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.woodenBG {
  margin: 20px;
  height: 90vh;
  width: 80vw;
  background-size: cover;
  background-image: url('/src/assets/woodenBG.svg');

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.alien {
  background-image: url('/src/assets/shipGreen_manned.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 35vw;
  height: 30vh;
  margin-top: 20px;
}

.bubbledAlien {
  background-image: url('/src/assets/Bubble.svg'),
    url('/src/assets/shipGreen_manned.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 35vw;
  height: 30vh;
  margin-top: 20px;
}

.hand {
  background-image: url('/src/assets/hand.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25vw;
  height: 25vh;
}

.instruction {
  background-image: url('/src/assets/Нажимай\ на\ НЛО\ и\ отравляй\ их\ В\ ДАЛЕКИЙ\ КОСМОС!.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20vh;
  height: 100px;
  width: 240px;
}

.startButton {
  font-family: sans-serif;

  color: white;
  font-weight: bold;
  font-size: xx-large;
  background-color: #f14338;
  border-radius: 6px;
  border-style: none;
  margin-bottom: 5vh;
  width: 50vw;
  padding: 5vw;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: #de2a1d;
  }
}
