.startingPage {
  background-image: url('/src/assets/e9896186f55021eeb4a5f39fea811124\ 1.svg');
  background-repeat: repeat-x;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.woodenBG {
  margin: 20px;
  height: 90vh;
  width: 80vw;
  background-size: cover;
  background-image: url('/src/assets/woodenBG.svg');

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.startButton {
  color: white;
  font-weight: bold;
  font-size: xx-large;
  background-color: #f14338;
  border-radius: 6px;
  border-style: none;
  margin-bottom: 5vh;
  width: 50vw;
  padding: 5vw;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: #de2a1d;
  }
}

.star {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-image: url('/src/assets/star.svg');

  display: flex;
  flex-direction: row;
}

.stars {
  display: flex;
  flex-direction: row;
}

.text {
  text-align: center;
  color: white;
}

.buttonTelegram {
  background-image: url('/src/assets/telegram.svg');
  background-size: cover;
  border-radius: 15px;
  border-style: none;
  margin: 5px;
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
}

.buttonOdnoklassniki {
  background-image: url('/src/assets/odnoklassniki.svg');
  background-size: cover;
  border-radius: 15px;
  border-style: none;
  margin: 5px;
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
}

.buttonVk {
  background-image: url('/src/assets/vk.svg');
  background-size: contain;
  border-radius: 15px;
  border-style: none;
  margin: 5px;
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
}
