.startingPage {
  background-image: url('/src/assets/pixel-cityscape-8-bit-pixel-art-game-landscape-vector\ 1.svg');
  background-color: red;
  background-repeat: repeat-x;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.alienBubble {
  background-image: url('/src/assets/alienInBubble.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10vh;
  width: 40vw;
  height: 70vh;
}

.greeting {
  margin-top: 10vh;
  color: yellow;
  font-size: 30px;
  font-weight: bolder;
  width: 50vw;
  text-align: center;
}

.startButton {
  font-family: sans-serif;
  margin-top: 35vh;
  margin-bottom: 5vh;
  color: white;
  font-weight: bold;
  font-size: xx-large;
  background-color: #f14338;
  border-radius: 6px;
  border-style: none;
  padding: 20px;
  text-decoration: none;

  &:hover {
    background-color: #de2a1d;
  }
}
