.alienWithText {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-self: start;
  align-self: flex-start;

  width: 100px;
  height: 200px;
}

.goodAlien {
  background-image: url('/src/assets/shipYellow_manned.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.stoppedAlien {
  background-image: url('/src/assets/stop.svg'),
    url('/src/assets/shipYellow_manned.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.textBG {
  display: flex;
  flex-direction: column;

  background-image: url('/src/assets/бабл.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 100px;
}

.textOfAlien {
  overflow-wrap: break-word;
  align-self: center;
  text-align: center;
  margin-top: 15px;
  width: 100px;
  height: 80px;
}
